<div class="bg-white w-full lg:w-[28rem] p-6 rounded-lg shadow">
  <h4 class="text-lg font-bold">Login</h4>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="mt-4">
      <div class="flex flex-col mb-3">
        <label for="email">Email</label>
        <input
          pInputText
          id="email"
          placeholder="Email Address"
          formControlName="email"
        />
        @if (
          (loginForm.get("email")?.hasError("required") ||
            loginForm.get("email")?.hasError("email")) &&
          loginForm.get("email")?.touched
        ) {
          <small class="required">Email is required.</small>
        }
      </div>
      <div class="flex flex-col mb-3">
        <label for="password">Password</label>
        <input
          pInputText
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        @if (
          loginForm.get("password")?.hasError("required") &&
          loginForm.get("password")?.touched
        ) {
          <small class="required">Password is required.</small>
        }
      </div>
    </div>
    <div class="flex mt-4">
      <p-button type="submit" label="Login" icon="pi pi-lock" />
    </div>
  </form>
</div>
